@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%; /* Ensure that the entire page takes up the full viewport height */
  background-color: rgb(19, 19, 21);  /* same color as bg-zinc-900 */
  margin: 0;
  padding: 0;
}

#root {
  height: 100%; /* Ensure React app container also takes full height */
}

.min-h-screen {
  min-height: 100vh; /* Make sure this is enforced to take full screen height */
}
